<html>
<head>
	<title>Feeling suicidal</title>
	<style>
		 p,li{
            font-size:20px; 
            width:80%;
        }
        h2{
            color:#0066cc;
        }
        h3:not(#tag){
            text-decoration: underline;
            font-size:20px;
        }
		body{
			padding-left:80px;
			padding-right:80px;
		}
		.container1 {
    		display: flex;
		}
        a{
            text-decoration:none;
            color:blue;
        }		

	</style>
</head>
<body>
	<div >
		<h1 style="font-family:Comic Sans, Comic Sans MS, cursive;color:#0080ff;font-size:40px;">Depression Solutions Guide</h1>
		<h3 id="tag" style="color:#808080;">Your trusted guide for depression.</h3>
	</div>
	<hr style="border: none;height: 30px;background:#1080ff;"/>
    <h2>Are You Feeling Suicidal?</h2>
    <p>Even though your pain may seem overwhelming and permanent at the moment, there are ways to deal with suicidal thoughts and feelings and overcome the pain.
    </p>
    <img src="static/images/d10.jpg" alt="a" width="70%;"/>
    <h2>I’m having suicidal thoughts, what do I need to know?</h2>
    <p>No matter how much pain you’re experiencing right now, you’re not alone. Many of us have had suicidal thoughts at some point in our lives. Feeling suicidal is not a character defect, and it doesn’t mean that you are crazy, or weak, or flawed. It only means that you have more pain than you can cope with right now. But with time and support, you can overcome your problems and the pain and suicidal feelings will pass.
    </p>
    <p>Some of the finest, most admired, needed, and talented people have been where you are now. Many of us have thought about taking our own lives when we’ve felt overwhelmed by depression and devoid of all hope. But the pain of depression can be treated and hope can be renewed. No matter what your situation, there are people who need you, places where you can make a difference, and experiences that can remind you that life is worth living. It takes real courage to face death and step back from the brink. You can use that courage to face life, to learn coping skills for overcoming depression, and for finding the strength to keep going. Remember:
    </p>
    <ol>
        <li>Your emotions are not fixed – they are constantly changing. How you feel today may not be the same as how you felt yesterday or how you’ll feel tomorrow or next week.
        </li><li>Your absence would create grief and anguish in the lives of friends and loved ones.
        </li><li>There are many things you can still accomplish in your life.
        </li><li>There are sights, sounds, and experiences in life that have the ability to delight and lift you – and that you would miss.
        </li><li>Your ability to experience pleasurable emotions is equal to your ability to experience distressing emotions.
        </li>
    </ol>
    <h2>Why do I feel suicidal?</h2>
    <p>Many kinds of emotional pain can lead to thoughts of suicide. The reasons for this pain are unique to each one of us, and the ability to cope with the pain differs from person to person. We are all different. There are, however, some common causes that may lead us to experience suicidal thoughts and feelings.
    </p>
    <h3>Why suicide can seem like the only option</h3>
    <p>If you are unable to think of solutions other than suicide, it is not that other solutions don’t exist, but rather that you are currently unable to see them. The intense emotional pain that you’re experiencing right now can distort your thinking so it becomes harder to see possible solutions to problems, or to connect with those who can offer support. Therapists, counselors, friends or loved ones can help you to see solutions that otherwise may not be apparent to you. Give them a chance to help.
    </p>
    <h3>A suicidal crisis is almost always temporary</h3>
    <p>Although it might seem as if your pain and unhappiness will never end, it is important to realize that crises are usually temporary. Solutions are often found, feelings change, unexpected positive events occur. Remember: suicide is a permanent solution to a temporary problem. Give yourself the time necessary for things to change and the pain to subside.
    </p>
    <h3>Even problems that seem hopeless have solutions</h3>
    <p>Mental health conditions such as depression, schizophrenia, and bipolar disorder are all treatable with changes in lifestyle, therapy, and medication. Most people who seek help can improve their situation and recover. Even if you have received treatment for a disorder before, or if you’ve already made attempts to solve your problems, know that it’s often necessary to try different approaches before finding the right solution or combination of solutions. When medication is prescribed, for example, finding the right dosage often requires an ongoing process of adjustment. Don’t give up before you’ve found the solution that works for you. Virtually all problems can be treated or resolved.
    </p>
    <h2>Take these immediate actions</h2>
    <h3>Step #1: Promise not to do anything right now</h3>
    <p>Even though you’re in a lot of pain right now, give yourself some distance between thoughts and action. Make a promise to yourself: “I will wait 24 hours and won’t do anything drastic during that time.” Or, wait a week.
    </p>
    <p>Thoughts and actions are two different things—your suicidal thoughts do not have to become a reality. There is no deadline, no one’s pushing you to act on these thoughts immediately. Wait. Wait and put some distance between your suicidal thoughts and suicidal action.
    </p>
    <h3>Step #2: Avoid drugs and alcohol</h3>
    <p>Suicidal thoughts can become even stronger if you have taken drugs or alcohol. It is important to not use nonprescription drugs or alcohol when you feel hopeless or are thinking about suicide.
    </p>
    <h3>Step #3: Make your home safe</h3>
    <p>Remove things you could use to hurt yourself, such as pills, knives, razors, or firearms. If you are unable to do so, go to a place where you can feel safe. If you are thinking of taking an overdose, give your medicines to someone who can return them to you one day at a time as you need them.
    </p>
    <h3>Step #4: Don’t keep these suicidal feelings to yourself</h3>
    <p>Many of us have found that the first step to coping with suicidal thoughts and feelings is to share them with someone we trust. It may be a family member, friend, therapist, member of the clergy, teacher, family doctor, coach, or an experienced counselor at the end of a helpline. Find someone you trust and let them know how bad things are. Don’t let fear, shame, or embarrassment prevent you from seeking help. And if the first person you reach out to doesn’t seem to understand, try someone else. Just talking about how you got to this point in your life can release a lot of the pressure that’s building up and help you find a way to cope.
    </p>
    <h3>Step #5: Take hope – people DO get through this</h3>
    <p>Even people who feel as badly as you are feeling now manage to survive these feelings. Take hope in this. There is a very good chance that you are going to live through these feelings, no matter how much self-loathing, hopelessness, or isolation you are currently experiencing. Just give yourself the time needed and don’t try to go it alone.
    </p>

    <h2>How to cope with suicidal thoughts</h2>
    <p>Remember that while it may seem as if these suicidal thoughts and feelings will never end, this is never a permanent condition. You WILL feel better again. In the meantime, there are some ways to help cope with your suicidal thoughts and feelings.
    </p>
    <div style="background:#3333ff;height:40px;width:80%;">
    <p style="color:white;padding-left:20px;padding-top:10px;">If You Have Suicidal Thoughts and Feelings</p>
    </div>
    <div style="background:#009999 ;height:40px;width:80%;">
    <p style="color:white;padding-left:20px;padding-top:10px;">Things to do:</p>
    </div>
    <p><b>Talk with someone every day,</b> preferably face to face. Though you feel like withdrawing, ask trusted friends and acquaintances to spend time with you. Or continue to call a crisis helpline and talk about your feelings.
    <p><b>Make a safety plan.</b> Develop a set of steps that you can follow during a suicidal crisis. It should include contact numbers for your doctor or therapist, as well as friends and family members who will help in an emergency.
    <p><b>Make a written schedule for yourself every day and stick to it,</b> no matter what. Keep a regular routine as much as possible, even when your feelings seem out of control.
    <p><b>Get out in the sun</b> or into nature for at least 30 minutes a day.
    <p><b>Exercise as vigorously as is safe for you.</b> To get the most benefit, aim for 30 minutes of exercise per day. But you can start small. Three 10-minute bursts of activity can have a positive effect on mood.
    <p><b>Make time for things that bring you joy.</b> Even if very few things bring you pleasure at the moment, force yourself to do the things you used to enjoy.
    <p><b>Remember your personal goals.</b> You may have always wanted to travel to a particular place, read a specific book, own a pet, move to another place, learn a new hobby, volunteer, go back to school, or start a family. Write your personal goals down.
    <div style="background:#009999 ;height:40px;width:80%;">
    <p style="color:white;padding-left:20px;padding-top:10px;">Things to avoid:</p>
    </div>
    <p><b>Being alone.</b> Solitude can make suicidal thoughts even worse. Visit a friend, or family member, or pick up the phone and call a crisis helpline.
    </p>
    <p><b>Alcohol and drugs.</b> Drugs and alcohol can increase depression, hamper your problem-solving ability, and can make you act impulsively.
    </p>
    <p><b>Doing things that make you feel worse.</b> Listening to sad music, looking at certain photographs, reading old letters, or visiting a loved one’s grave can all increase negative feelings.
    </p>
    <p><b>Thinking about suicide and other negative thoughts.</b> Try not to become preoccupied with suicidal thoughts as this can make them even stronger. Don’t think and rethink negative thoughts. Find a distraction. Giving yourself a break from suicidal thoughts can help, even if it’s for a short time.
    </p>

    <h2>Recovering from suicidal thoughts</h2>
    <p>Even if your suicidal thoughts and feelings have subsided, get help for yourself. Experiencing that sort of emotional pain is itself a traumatizing experience. Finding a support group or therapist can be very helpful in decreasing the chances that you will feel suicidal again in the future. You can get help and referrals from your doctor or from the organizations listed in our Recommended reading section.
    </p>
    <h3>5 steps to recovery</h3>
    <ol>
        <li><b>Identify triggers or situations</b> that lead to feelings of despair or generate suicidal thoughts, such as an anniversary of a loss, alcohol, or stress from relationships. Find ways to avoid these places, people, or situations.
        <li><b>Take care of yourself.</b> Eat right, don’t skip meals, and get plenty of sleep. Exercise is also key: it releases endorphins, relieves stress, and promotes emotional well-being.
        <li><b>Build your support network.</b> Surround yourself with positive influences and people who make you feel good about yourself. The more you’re invested in other people and your community, the more you have to lose—which will help you stay positive and on the recovery track.
        <li><b>Develop new activities and interests.</b> Find new hobbies, volunteer activities, or work that gives you a sense of meaning and purpose. When you’re doing things you find fulfilling, you’ll feel better about yourself and feelings of despair are less likely to return.
        <li><b>Learn to deal with stress in a healthy way.</b> Find healthy ways to keep your stress levels in check, including exercising, meditating, using sensory strategies to relax, practicing simple breathing exercises, and challenging self-defeating thoughts.
    </ol>

 <footer>
     <div style="background:#99ccff;height:60px;">
     <p style="padding-left:700px;padding-top:20px;">Copyright © 2020 Depression Detect - All rights reserved</p>
     </div>
     </footer>
	
	
	
	
</body>
</html>