<html>
<head>
	<title>Depression in Women</title>
	<style>
		 p,li{
            font-size:20px; 
            width:80%;
        }
        h2{
            color:#0066cc;
        }
        h3:not(#tag){
            text-decoration: underline;
            font-size:20px;
        }
		body{
			padding-left:80px;
			padding-right:80px;
		}
		.container1 {
    		display: flex;
		}
        a{
            text-decoration:none;
            color:blue;
        }		

	</style>
</head>
<body>
	<div >
		<h1 style="font-family:Comic Sans, Comic Sans MS, cursive;color:#0080ff;font-size:40px;">Depression Solutions Guide</h1>
		<h3 id="tag" style="color:#808080;">Your trusted guide for depression.</h3>
	</div>
	<hr style="border: none;height: 30px;background:#1080ff;"/>
    <h2>Social Media and Mental Health</h2>
    <p>While many of us enjoy staying connected on social media, excessive use can fuel feelings of anxiety, depression, isolation, and FOMO. Here’s how to modify your habits and improve your mood.
    </p>
    <img src="static/images/d11.jpg" alt="a" width="70%;"/>
    <h2>The role social media plays in mental health</h2>
    <p>Human beings are social creatures. We need the companionship of others to thrive in life, and the strength of our connections has a huge impact on our mental health and happiness. Being socially connected to others can ease stress, anxiety, and depression, boost self-worth, provide comfort and joy, prevent loneliness, and even add years to your life. On the flip side, lacking strong social connections can pose a serious risk to your mental and emotional health.
    </p>
    <p>In today’s world, many of us rely on social media platforms such as Facebook, Twitter, Snapchat, YouTube, and Instagram to find and connect with each other.
    </p>
    <p>While each has its benefits, it’s important to remember that social media can never be a replacement for real-world human connection. It requires in-person contact with others to trigger the hormones that alleviate stress and make you feel happier, healthier, and more positive. Ironically for a technology that’s designed to bring people closer together, spending too much time engaging with social media can actually make you feel more lonely and isolated—and exacerbate mental health problems such as anxiety and depression.
    </p>
    <p>If you’re spending an excessive amount of time on social media and feelings of sadness, dissatisfaction, frustration, or loneliness are impacting your life, it may be time to re-examine your online habits and find a healthier balance.  
    </p>
    <h3>The positive aspects of social media</h3>
    <p>While virtual interaction on social media doesn’t have the same psychological benefits as face-to-face contact, there are still many positive ways in which it can help you stay connected and support your wellbeing.
    </p>
    <p>Social media enables you to:</p>
    <ul>
        <li>Communicate and stay up to date with family and friends around the world.
        </li><li>Find new friends and communities; network with other people who share similar interests or ambitions.
        </li><li>Join or promote worthwhile causes; raise awareness on important issues.
        </li><li>Seek or offer emotional support during tough times.
        </li><li>Find vital social connection if you live in a remote area, for example, or have limited independence, social anxiety, or are part of a marginalized group.
        </li><li>Find an outlet for your creativity and self-expression.
        </li><li>Discover (with care) sources of valuable information and learning.
    </ul>
    <h3>The negative aspects of social media</h3>
    <p>Since it’s a relatively new technology, there’s little research to establish the long-term consequences, good or bad, of social media use. However, multiple studies have found a strong link between heavy social media and an increased risk for depression, anxiety, loneliness, self-harm, and even suicidal thoughts.
    </p>
    
    <p>Social media may promote negative experiences such as:</p>

    <p><b>Inadequacy about your life or appearance.</b> Even if you know that images you’re viewing on social media are manipulated, they can still make you feel insecure about how you look or what’s going on in your own life. Similarly, we’re all aware that other people tend to share just the highlights of their lives, rarely the low points that everyone experiences. But that doesn’t lessen those feelings of envy and dissatisfaction when you’re scrolling through a friend’s airbrushed photos of their tropical beach holiday or reading about their exciting new promotion at work.
    </p>
    <p><b>Fear of missing out (FOMO).</b> While FOMO has been around far longer than social media, sites such as Facebook and Instagram seem to exacerbate feelings that others are having more fun or living better lives than you are. The idea that you’re missing out on certain things can impact your self-esteem, trigger anxiety, and fuel even greater social media use. FOMO can compel you to pick up your phone every few minutes to check for updates, or compulsively respond to each and every alert—even if that means taking risks while you’re driving, missing out on sleep at night, or prioritizing social media interaction over real world relationships. 
    </p>
    <p><b>Isolation.</b> A study at the University of Pennsylvania found that high usage of Facebook, Snapchat, and Instagram increases rather decreases feelings of loneliness. Conversely, the study found that reducing social media usage can actually make you feel less lonely and isolated and improve your overall wellbeing.
    </p>
    <p><b>Depression and anxiety.</b> Human beings need face-to-face contact to be mentally healthy. Nothing reduces stress and boosts your mood faster or more effectively than eye-to-eye contact with someone who cares about you. The more you prioritize social media interaction over in-person relationships, the more you’re at risk for developing or exacerbating mood disorders such as anxiety and depression.
    </p>
    <p><b>Cyberbullying.</b> About 10 percent of teens report being bullied on social media and many other users are subjected to offensive comments. Social media platforms such as Twitter can be hotspots for spreading hurtful rumors, lies, and abuse that can leave lasting emotional scars.
    </p>
    <p><b>Self-absorption.</b> Sharing endless selfies and all your innermost thoughts on social media can create an unhealthy self-centeredness and distance you from real-life connections.
    </p>

    <h2>Modifying social media use to improve mental health step 1: Reduce time online</h2>
    <p>A 2018 University of Pennsylvania study found that reducing social media use to 30 minutes a day resulted in a significant reduction in levels of anxiety, depression, loneliness, sleep problems, and FOMO. But you don’t need to cut back on your social media use that drastically to improve your mental health. The same study concluded that just being more mindful of your social media use can have beneficial results on your mood and focus.  
    </p>
    <p>While 30 minutes a day may not be a realistic target for many of us, we can still benefit from reducing the amount of time we spend on social media. For most of us, that means reducing how much we use our smartphones. The following tips can help:
    </p>
    <ul>
        <li>Use an app to track how much time you spend on social media each day. Then set a goal for how much you want to reduce it by.
        </li><li>Turn off your phone at certain times of the day, such as when you’re driving, in a meeting, at the gym, having dinner, spending time with offline friends, or playing with your kids. Don’t take your phone with you to the bathroom.
        </li><li>Don’t bring your phone or tablet to bed. Turn devices off and leave them in another room overnight to charge.
        </li><li>Disable social media notifications. It’s hard to resist the constant buzzing, beeping, and dinging of your phone alerting you to new messages. Turning off notifications can help you regain control of your time and focus.
        </li><li>Limit checks. If you compulsively check your phone every few minutes, wean yourself off by limiting your checks to once every 15 minutes. Then once every 30 minutes, then once an hour. There are apps that can automatically limit when you’re able to access your phone.
        </li><li>Try removing social media apps from your phone so you can only check Facebook, Twitter and the like from your tablet or computer. If this sounds like too drastic a step, try removing one social media app at a time to see how much you really miss it.
        </li>
    </ul>

    <h2>Step 2: Spend more time with offline friends</h2>
    <p>We all need the face-to-face company of others to be happy and healthy. At its best, social media is a great tool for facilitating real-life connections. But if you’ve allowed virtual connections to replace real-life friendships in your life, there are plenty of ways to build meaningful connections without relying on social media.
    </p>
    <p><b>Set aside time each week</b> to interact offline with friends and family. Try to make it a regular get-together where you always keep your phones off.
    </p>
    <p><b>If you’ve neglected face-to-face friendships, reach out to an old friend</b> (or an online friend) and arrange to meet up. If you both lead busy lives, offer to run errands or exercise together.
    </p>
    <p><b>Join a club.</b> Find a hobby, creative endeavor, or fitness activity you enjoy and join a group of like-minded individuals that meet on a regular basis.
    </p>
    <p><b>Don’t let social awkwardness stand in the way.</b> Even if you’re shy, there are proven techniques to overcome insecurity and build friendships.
    </p>
    <p><b>If you don’t feel that you have anyone to spend time with, reach out to acquaintances.</b> Lots of other people feel just as uncomfortable about making new friends as you do—so be the one to break the ice. Invite a coworker out for lunch or ask a neighbor or classmate to join you for coffee.
    </p>
    <p><b>Interact with strangers.</b> Look up from your screen and connect with people you cross paths with on public transport, at the coffee shop, or in the grocery store. Simply smiling or saying hello will improve how you feel—and you never know where it may lead.
    </p>

    <h2>Step 3: Express gratitude</h2>
    <p>Feeling and expressing gratitude about the important things in your life can be a welcome relief to the resentment, animosity, and discontent sometimes generated by social media.
    </p>
    <p><b>Take time for reflection.</b> Try keeping a gratitude journal or using a gratitude app. Keep track of all the great memories and positives in your life—as well as those things and people you’d miss if they were suddenly absent from your life. If you’re more prone to venting or negative posts, you can even express your gratitude on social media—although you may benefit more from private reflection that isn’t subject to the scrutiny of others. 
    </p>
    <p><b>Practice mindfulness.</b> Experiencing FOMO and comparing yourself unfavorably to others keeps you dwelling on life’s disappointments and frustrations. Instead of being fully engaged in the present, you’re focused on the “what ifs” and the “if onlys” that prevent you from having a life that matches those you see on social media. By practicing mindfulness, you can learn to live more in the present moment, lessen the impact of FOMO, and improve your overall mental wellbeing.
     </p>
    <p><b>Volunteer.</b> Just as human beings are hard-wired to seek social connection, we’re also hard-wired to give to others. Helping other people or animals not only enriches your community and benefits a cause that’s important to you, but it also makes you feel happier and more grateful.
    </p>
 <footer>
     <div style="background:#99ccff;height:60px;">
     <p style="padding-left:700px;padding-top:20px;">Copyright © 2020 Depression Detect - All rights reserved</p>
     </div>
     </footer>
	
	
</body>
</html>